html{
  scroll-snap-type: y mandatory;
}

.app{
  background-color: black;
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.app_videos{
  position: relative;
  height: 700px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 20px;
  width: 80%;
  max-width: 500px;
  scroll-snap-type: y mandatory;
  /* Hide scroll bar from IE Edge and FireFox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hide scroll bar form chrome safari and opera */
.app_videos::-webkit-scrollbar{
  display: none;
}

@media only screen and (max-width: 600px) {
  .app_videos{
    height: 100%;
    width: 100%;
    height: 90vh;
    border-radius: 0;
  }
}