.videoFooter{
    position: relative;
    bottom: 100px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.videoFooter_record{
    animation: spinner infinite 2s linear;
    height: 50px;
    filter: invert(1);
    position: absolute;
    bottom: 35px;
    right: 15px;
}

.videoFooter_text h3, .videoFooter_text p{
    margin-bottom: 10px;
}

.videoFooter_ticker .ticker{
    position: absolute;
    margin-left: 30px;
    width: 300px;
    top: -25px;
}

@keyframes spinner {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}